/* toggle */

.dark{
  background-color: black;
}
.dark header{
  background-color: black;
}
.dark .center-nav{
  border: 1px solid white;
}
.dark .center-nav a{
  color: white;
}
.dark .toggle{
  background-color: rgba(0, 0, 0, 0.696);
}